@CHARSET "UTF-8";
.view_btn_submit{
	background-image: url("./image/view_btn_submit.gif")
}
.delivery_content .content_box{padding:30px 29px 29px 31px;}
			.delivery_content .deli_img{margin-bottom:30px;}
			.deli_inner:after{clear:both;content:"";display:block;}
			.deli_inner_L{float:left;}
			.deli_inner_R{float:right;}
			.deli_inner_T{float:left;padding-top:8px;width:1168px;}
			.deli_inner_table{width:554px;height:345px;border-top:1px solid #d9d9d9;}
			.deli_inner p{position:relative;line-height:18px;color:#666;}
			.deli_inner h5{margin-bottom:11px;font-family:YG77;font-size:15px;color:#352f29;}
			.deli_inner h6{margin-bottom:4px;font-size:11px;line-height:17px;font-family:YG77;}
			.deli_inner_table span{color:#e2704b;}
			.deli_inner_table tr{border-bottom:1px solid #d9d9d9;}
			.deli_inner_table th{width:150px;font-family:YG76;line-height:18px;color:#555;background-color:#f3f3f3;}
			.deli_inner_table td{padding:8px 0 8px 30px;}
			.deli_inner_table td.pd{padding:20px 0 20px 30px;}
			.deli_inner_R .deli_inner_table td.pd{padding:13px 0 10px 30px;}
			.deli_inner_table td p.fir{margin-bottom:5px;}
			.deli_inner_table td p.last{margin-bottom:5px;}
			.deli_inner_R .deli_inner_table td p.last{margin-bottom:7px;}
			.deli_inner_L .deli_inner_table td p.fir span{font-family:YG77;}
			.deli_inner_L .deli_inner_table span.abs{position:absolute;top:0;left:172px;font-family:YG77;}
			.deli_inner_L .deli_inner_table span.abs:before{display:inline-block;margin-right:5px;content: "-"; color:#666;}
			.deli_inner_R .deli_inner_table span.cle{display:block;margin-left:15px;color:#666;font-weight:normal;}
			.deli_inner_R .deli_inner_table p.cle{margin:0 0 6px 54px;}
			.deli_inner_R .deli_inner_table p.word_wrap{margin:0 0 5px 20px;}
			.deli_inner_R .deli_inner_table span.nor{display:inline-block;width:40px;color:#666;}
		 	.deli_inner_table td strong{display:block;margin-bottom:20px;font-size:21px;line-height:24px;}
			.deli_inner_table td strong img{margin-right:5px;vertical-align:top;}
			.deli_inner_table td div{margin-bottom:18px;}
			.deli_inner_table td div.last{margin-bottom:0px;}
			.deli_inner .deli_inner_T p{color:#888;font-size:11px;}
			
<!--detail product css -->	
.board_comment {background:#fafafa;}
.board_comment .comment_txt {padding:8px 0 8px 10px;}
.board_comment tr .comment_date button.btn {width:12px;height:12px;background:url(../../images/common/icon_reply.gif) 0 0 no-repeat;}
.board_comment tr .comment_date button.btn .text {position:absolute;left:-10000px;top:-10000px;}
.board_comment tr .comment_date button.btn.re {background-position:0 0;}
.board_comment tr .comment_date button.btn.declaration {background-position:-12px 0;}
.board_comment tr.re .comment_name {padding-left:15px;position:relative;}
.board_comment tr.re .comment_txt {padding-left:20px;position:relative;}
.board_comment tr.re .comment_name:before {content:"";display:block;width:5px;height:10px;border:1px dotted #666;position:absolute;left:5px;border-width:0 0 1px 1px;top:6px;}
.board_comment tr.write .comment_area {padding:8px 10px 8px 0;}
.board_comment tr.write .comment_area textarea {margin:0;border:1px solid #dcdcdc;padding:0;display:block;width:100%;height:38px;}
.board_comment tr.write .comment_write_btn {padding:8px 0 8px 0;}
.board_comment tr.write button {width:100%;height:40px;font-size:1em;background:#dcdcdc;color:#323232;border:1px solid #bbb;}
.board_comment .comment_input_bt button {width:100%;height:52px;font-size:1em;background:#dcdcdc;color:#323232;border:1px solid #bbb;font-weight:normal;text-shadow:none;border-radius:0;}
.board_comment .comment_input {right:182px;}
.board_comment .comment_input textarea {padding:0;}
.board_comment .comment_input_bt {width:152px;}
.nav-container {background:url('images/nav_bg.jpg') repeat-x 0 0;}
.f-nav {z-index:9999; position:fixed; left:0; top:0; width:100%;}
 
.nav-container{margin-left: 20%; background: gray;}    
.nav {height:42px;}
.nav ul {list-style:none;}
.nav ul li {float:left; margin-top:6px; padding:6px; border-right:1px solid #ACACAC;}
.nav ul li:first-child {padding-left:0;}
.nav ul li a:hover {text-decoration: underline;}
			