<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kokofarm.center.mapper.centerMapper">
	<insert id="create" parameterType="CenterVO">
		insert into customercenter(cno, c_title, c_group, c_content, c_regdate, c_viewcnt)
		values(#{cno}, #{c_title}, #{c_group}, #{c_content}, to_date(sysdate), 0)
	</insert>

	<select id="list" resultType="CenterVO">
		select cno, c_title, c_regdate, c_viewcnt
		from customercenter where c_group='notice' order by c_regdate
	</select>
 	
 
</mapper>  






