<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kokofarm.center.mapper.centerMapper">
	<insert id="create" parameterType="CenterVO">
		insert into customercenter(cno, c_title, c_group, c_content, c_regdate, c_viewcnt)
		values(cno.nextval, #{c_title}, #{c_group}, #{c_content}, 
		to_date(#{c_regdate}, 'yyyy-mm-dd hh24:mi:ss'), 0)
	</insert>

	<select id="list_notice" resultType="CenterVO">
		select *
		from customercenter where c_group='notice' order by c_regdate
	</select>
 	
 	<select id="list_faq" resultType="CenterVO">
		select *
		from customercenter where c_group='faq' order by c_regdate
	</select>
 
 	<select id="detail_notice" resultType="CenterVO">
 		select * from customercenter where cno=#{cno}
 	</select>
 	
 	<delete id="delete_notice">
 		delete from customercenter where cno=#{cno}
 	</delete>
 	
 	<delete id="delete_faq">
 		delete from customercenter where cno=#{cno}
 	</delete>
 	
 	<select id="detail_faq" resultType="CenterVO">
 		select * from customercenter where cno=#{cno}
 	</select>
 	
 	<update id="update_viewcnt">
 		update customercenter set c_viewcnt = c_viewcnt + 1 where cno=#{cno}
 	</update>
</mapper>  






