<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kokofarm.mileage.mapper.MileageMapper">

	<insert id="insert_mileage" parameterType="MileageVO">
		insert into mileage
		(
			mileage_no, mileage_use, mileage_saving, mileage_total, mileage_member_id, mileage_date, orderfinish_no
		) values ( 
			#{mileage_no}, #{mileage_use}, #{mileage_saving}, #{mileage_total}, #{member_id}, sysdate, #{orderfinish_no}
		)
	</insert>
	
	<select id="mileage_current" resultType="Integer">
		select member_point from member where member_id = #{member_id}
	</select>

	<update id="milage_update" parameterType="java.util.HashMap">
		update member set member_point = #{member_point} where member_id = #{member_id}
	</update>
	
	<select id="mileage_view" resultType="MileageListVO" parameterType="java.util.HashMap">
		SELECT * FROM (SELECT ROWNUM AS RNUM,a.* FROM(
		select DISTINCT o.orderfinish_no, m.mileage_use, m.mileage_saving, m.mileage_total, m.mileage_date 
		from mileage m, order_finish o
		where m.mileage_no = o.mileage_no 
		and m.mileage_member_id = #{member_id}
		order by m.mileage_date desc
					) a
			where ROWNUM <![CDATA[<=]]> #{PagingMaker.end})
				where RNUM <![CDATA[>=]]> #{PagingMaker.start}
	</select>
	
	<select id="mileage_search_view" resultType="MileageListVO" parameterType="java.util.HashMap">
		SELECT * FROM (SELECT ROWNUM AS RNUM,a.* FROM(
		select DISTINCT o.orderfinish_no, m.mileage_use, m.mileage_saving, m.mileage_total, m.mileage_date 
		from mileage m, order_finish o
		where m.mileage_no = o.mileage_no
		and m.mileage_member_id = #{member_id}
		and to_char(mileage_date,'YYYYMMDD') between to_char(#{start_time}) and to_char(#{end_time})
		order by m.mileage_date desc
					) a
			where ROWNUM <![CDATA[<=]]> #{PagingMaker.end})
				where RNUM <![CDATA[>=]]> #{PagingMaker.start}
	</select>
	
	
	
	<select id="mileagecount" resultType="int">
		select count(*) from mileage where mileage_member_id = #{mileage_member_id}
	</select>
	
	<select id="mileage_search_count" resultType="int" parameterType="java.util.HashMap">
		select count(*) from mileage where mileage_member_id = #{member_id} and to_char(mileage_date,'YYYYMMDD') between to_date(#{start_time}) and to_date(#{end_time})
	</select>
	
	<select id="orderproduct_detail" resultType="OrderFinish_DetailVO">
		select o.orderfinish_no, o.orderfinish_product_name, o.orderfinish_product_amount, o.orderfinish_delivery_price,
				o.orderfinish_total_price, o.orderfinish_final_price, o.orderfinish_member_name, o.orderfinish_member_phonenum, o.orderfinish_member_address,
				o.orderfinish_date,
				p.product_mainimage,
				p.product_no
		from order_finish o, product p
		where o.orderfinish_product_no = p.product_no
		and o.orderfinish_no = #{orderfinish_no}
	</select>
	
	<select id="detail_payment" resultType="String">
		<!-- select DISTINCT pay from payment where payment_no = #{payment_no} -->
		select DISTINCT p.pay from payment p, order_finish o 
		where p.payment_no = o.payment_no and o.orderfinish_no = #{orderfinish_no}
	</select>
	
	<select id="detail_mileage" resultType="Integer">
		select mileage_use from mileage where orderfinish_no = #{orderfinish_no}
	</select>
	
</mapper>














