<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kokofarm.orderproduct.mapper.OrderProductMapper">
	
 	<insert id="order_insert" parameterType="OrderProductData">
		insert into orderproduct (
			member_id, product_no, order_product_amount, order_delivery_price, order_total_price
		)values(
			#{member_id},#{product_no},#{order_product_amount},#{order_delivery_price},#{order_total_price}
		)
	</insert> 
	
	<select id="order_list" resultType="OrderProductData">
		select op.member_id, op.product_no, op.order_product_amount, op.order_delivery_price, op.order_total_price, p.product_price, p.product_name,p.product_mainimage
		 from orderproduct op, product p
		 where op.product_no = p.product_no
		 and member_id = #{member_id}
	</select>
	
	<update id="order_update" parameterType="OrderProductData">
		update orderproduct set order_product_amount = order_product_amount + #{order_product_amount}, order_total_price = order_total_price + #{order_total_price}
		where product_no = #{product_no}
	</update>
	
	<select id="member_point" resultType="Integer">
		select member_point from member where member_id = #{member_id} 
	</select>
</mapper>














