<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kokofarm.mapper.ProductMapper">
	<cache />
	

	<insert id="insertProdcut" parameterType="ProductVO">
		insert into product(
			product_no, product_name, product_unit, unit, ca1, ca2, ca3, product_area, producer,
			product_price, seller_no, product_uploaddate, product_harvestdate, review_number, 
			product_mainimage, product_sellerimage, contents   
		)
		values(
		#{product_no}, #{product_name},  #{product_unit}, #{unit}, #{ca1},  #{ca2},  #{ca3}, #{product_area}, #{producer},
		  #{product_price}, 0, sysdate, #{product_harvestdate}, 0,
		#{product_mainimage}, #{product_sellerimage}, #{contents}
		)	
	</insert>
	
	<select id="listProduct" resultType="ProductVO" parameterType="java.util.HashMap">
		select * from product
		<where>
		<if test="ca1 != null">
				ca1 = #{ca1}
		</if>
		<if test="ca2 != null">
				ca2 = #{ca2}
		</if>
		<if test="ca3 != null">
			ca3 = #{ca3}
		</if>
		</where>
	</select>
	
	<select id="listProduct_ca1" resultType="ProductVO" parameterType="String">
		select * from product
		where ca1 = #{ca1}
	</select>
	
	<select id="listProduct_ca2" resultType="ProductVO" parameterType="String">
		select * from product
		where ca2 = #{ca2}
	</select>
	
	<select id="listProduct_ca3" resultType="ProductVO" parameterType="String">
		select * from product
		where ca3 = #{ca3}
	</select>
	
	
	<select id="detailProduct" parameterType="String" resultType="ProductVO">
	 select * from product
	 where product_no = #{product_no}
	</select>
	
	<select id="countProduct" resultType="int" >
	select count(*) from product
		<if test="searchText !=null">
			where ${searchOption} LIKE #{searchText}
		</if>
	</select>
	
	<delete id="deleteProduct" parameterType="String">
		delete * from product where product_no =#{product_no}
	</delete>
	
	
	</mapper>