<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kokofarm.mapper.ProductMapper">
	<cache />
	

	<insert id="insertProdcut" parameterType="ProductVO">
		insert into product(
			product_no, product_name, product_unit, unit, ca1, ca2, ca3, product_area, producer,
			product_price, product_total, seller_no, product_uploaddate, product_harvestdate,
			product_mainimage, product_sellerimage, contents   
		)
		values(
		#{product_no}, #{product_name},  #{product_unit}, #{unit}, #{ca1},  #{ca2},  #{ca3}, #{product_area}, #{producer},
		 #{product_price}, #{product_total}, #{seller_no}, sysdate, #{product_harvestdate}, 
		#{product_mainimage}, #{product_sellerimage}, #{contents}
		)	
	</insert>
	
	<select id="listProduct" resultType="ProductVO" parameterType="PagingMaker">
				SELECT * FROM (SELECT ROWNUM AS RNUM,a.* FROM(
  					select * from product where product_total >0
  					<if test="searchOption != null" >
						and  ${searchOption} LIKE #{searchText} 
  				  </if>
  				  <if test='ca1 != "1".toString()'  >
						and ca1 = #{ca1}
					</if>
					<if test='ca2 != "1".toString()'  >
						and	ca2 = #{ca2}
					</if>
					<if test='ca3 != "1".toString()' >
				 		and	ca3 = #{ca3}
					</if>
  				<choose>
  					<when test="input_sort == null"  >
  					order by product_uploaddate desc
  					</when>
	  					<when test="input_sort == 'ph'">
	  						order by product_price desc
	  					</when>
	  					<when test="input_sort == 'pl'">
	  						order by product_price asc
	  					</when>
	  					<when test="input_sort == 'vc'">
	  						order by view_count desc
	  					</when> 
  					</choose>
  					) a
  						where ROWNUM <![CDATA[<=]]> #{end})
  							where RNUM <![CDATA[>=]]> #{start}
	</select> 

	
	<select id="detailProduct" parameterType="String" resultType="ProductVO">
	 select * from product
	 where product_no = #{product_no}
	</select>
	
	<select id="viewProduct" parameterType="String" >
	 update product
	 set view_count = view_count+1
	 where product_no = #{product_no}
	</select>
	
	<select id="countProduct" resultType="int" parameterType="PagingMaker">
	select count(*) from product
		where product_total > 0
		<if test='searchOption != null' >
			and ${searchOption} LIKE #{searchText}
		</if>
		<if test='ca1 != "1".toString()'  >
						and ca1 = #{ca1}
		</if>
		<if test='ca2 != "1".toString()'  >
			and	ca2 = #{ca2}
		</if>
		<if test='ca3 != "1".toString()' >
	 		and	ca3 = #{ca3}
		</if>
	</select>
	
	<update id="deleteProduct" parameterType="String">
		update product 
		set product_total = 0
		where product_no =#{product_no}
	</update>
	
	
	<update id="update_reply_count" parameterType="java.util.HashMap">
	update product
	set reply_count = reply_count+#{amount}
	where product_no = #{product_no}	
	</update>
	
	<select id="product_register_list" parameterType="java.util.HashMap" resultType="ProductVO">
	 SELECT * FROM (SELECT ROWNUM AS RNUM,a.* FROM(
  					 select * from product
				 where seller_no = #{member_id}
				 order by product_uploaddate
  					) a
  						where ROWNUM <![CDATA[<=]]> #{PagingMaker.end})
  							where RNUM <![CDATA[>=]]> #{PagingMaker.start}
	</select>
	
	
	<select id="countProduct_list" resultType="int" parameterType="String">
	select count(*) from product
		where seller_no =  #{member_id}
	</select>
	
	</mapper>