<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kokofarm.mapper.ReplyMapper">
	<cache />

	<insert id="InsertReply" parameterType="ReplyVO">
	insert into Reply (post_no, product_no, member_id, post_content, post_date)
	values(#{Reply_no}, #{product_no}, #{member_id}, #{Reply_content}, sysdate) 
	</insert>
	
	<select id="listReply" parameterType="String" resultType="ReplyVO">
	select * from Reply
	where product_no = #{product_no}
	</select>
	
	<delete id="deleteReply" parameterType="String">
	delete from Reply
	where Reply_no = #{Reply_no}
	</delete>
	
	<update id="updateReply" parameterType="ReplyVO">
	update Reply 
	set Reply_content = #{Reply_content}
	where Reply_no = #{Reply_no} 
	</update>
	
	
	
	
	</mapper>
