<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kokofarm.mapper.ReplyMapper">
	<cache />

	<insert id="InsertReply" parameterType="ReplyVO">
	insert into Reply (reply_no, product_no, member_id, reply_content, reply_rating, reply_date)
	values(#{reply_no}, #{product_no}, #{member_id}, #{reply_content}, #{reply_rating}, sysdate) 
	</insert>
	
<!-- 	<select id="listReply" parameterType="String" resultType="ReplyVO">
	select * from Reply
	where product_no = #{product_no}
	order by reply_date desc
	</select> -->
	
	
	<select id="listReply" resultType="ReplyVO" parameterType="java.util.HashMap">
				SELECT * FROM (SELECT ROWNUM AS RNUM,a.* FROM(
  					select * from Reply 
  					where product_no = #{product_no}
					order by reply_date desc
  					) a
  						where ROWNUM <![CDATA[<=]]> #{PagingMaker.end})
  							where RNUM <![CDATA[>=]]> #{PagingMaker.start}
	</select> 
	
	
	<delete id="deleteReply" parameterType="String">
	delete from Reply
	where reply_no = #{reply_no}
	</delete>
	
	<update id="updateReply" parameterType="ReplyVO">
	update Reply 
	set reply_content = #{reply_content}
	where reply_no = #{reply_no} 
	</update>
	
	<select id="countReply" resultType="int"  parameterType="String">
		select count(*) from Reply
		where product_no = #{product_no}
	</select>
	
	<select id="getProduct_no" resultType="String">
		select product_no from Reply
		where reply_no = #{reply_no}
	</select>
	
	<select id="avgReply" resultType="int"  parameterType="String">
		select  nvl(ROUND(AVG(reply_rating)),0) from Reply
		where product_no = #{product_no}
	</select>
	
	</mapper>
