<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kokofarm.rtauction.mapper.RtAuctionMapper">

	<select id="rtauctioninfo" resultType="RtAuctionInfoVO">
		select rt_auction_name, rt_auction_down, rt_auction_unit, rt_auction_title_img, rt_auction_content,
		rt_auction_title_img01,rt_auction_title_img02, rt_auction_area, seller_no, rt_auction_no
		from rt_auction 
		where rt_auction_no = #{rt_auction_no}
	</select>
	
	
	<insert id="rtresultauction" parameterType="RtResultAuctionVO">
		insert into rt_tender(
			rt_tender_no, member_id, rt_tender_price, rt_tender_date, rt_auction_no
		) values (
			#{rt_tender_no},#{member_id},#{rt_tender_price},#{rt_tender_date},#{rt_auction_no}
		)
	</insert>
	
	<select id="resultList" resultType="RtResultAuctionListVO">
		select rt.rt_tender_no, ra.rt_auction_group, ra.rt_auction_title_img, ra.rt_auction_name, ra.rt_auction_unit, rt.rt_tender_price, rt.rt_auction_no
		from rt_auction ra, rt_tender rt
		where ra.rt_auction_no = rt.rt_auction_no
		and rt.rt_auction_no = #{rt_auction_no}
	</select>
	
	<select id="member_info" resultType="MemberVO">
		select * from member where member_id = #{member_id}
	</select>
	
	
	<insert id="rt_auction_finish" parameterType="RtAcutionFinishVO">
		insert into rt_tender_finish(
			rt_tender_finish_no, rt_tender_no, recipient_name, recipient_phone, recipient_tel, recipient_address, delivery_message, pay,
			creditcard_name, pay_month, pay_bank, deposit_name, price, pay_date , member_id
		) values (
			#{rt_tender_finish_no}, #{rt_tender_no}, #{recipient_name}, #{recipient_phone}, #{recipient_tel}, #{recipient_address}, #{delivery_message}, #{pay},
			#{creditcard_name}, #{pay_month}, #{pay_bank}, #{deposit_name}, #{price}, sysdate, (select member_id from rt_tender where rt_tender_no = #{rt_tender_no})
		)
	</insert>
	
	
	<select id="rt_auction_finish_list" resultType="RtAuctionFinishListVO">
		select rtf.rt_tender_finish_no, ra.rt_auction_title_img, ra.rt_auction_name, rt.rt_tender_price, rt.rt_tender_date
		from rt_auction ra, rt_tender rt, rt_tender_finish rtf
		where ra.rt_auction_no = rt.rt_auction_no
		and rt.rt_tender_no = rtf.rt_tender_no
		and member_id = #{member_id}
	</select>
	
	<delete id="delete_rt_tender" parameterType="String">
		delete from rt_tender where rt_tender_no = #{rt_tender_no}
	</delete>
</mapper>














