<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kokofarm.rtauction.mapper.RtAuctionMapper">

	<select id="rtauctioninfo" resultType="RtAuctionInfoVO">
		select rt_auction_name, rt_auction_down, rt_auction_unit, rt_auction_title_img, rt_auction_content,
		rt_auction_title_img01,rt_auction_title_img02, rt_auction_area, seller_no, rt_auction_no
		from rt_auction 
		where rt_auction_no = #{rt_auction_no}
	</select>
	
</mapper>














