<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kokofarm.tender.mappers.TenderMapper">
	<cache />
	
	<!-- 경매 상품 보여주기 -->
	 <select id="selectAuctionProduct" resultType="AuctionVO" parameterType="Integer">
	  select * from auction where auction_no=#{auction_no}
	  </select> 
	  <!-- 경매 리스트가 완성되면 where절로 경매 번호를 받아와 그 경매번호에 대한
	  것만 뽑아오겠다.  where auction_no=#{auction_no} --> 
	
	<!-- 데이터 삽입(입찰자) -->
	<insert id="insertTender" parameterType="TenderVO">
	 insert into tender(
      tender_no, member_id, tender_price, tender_date, auction_no
    )
    values(
      tender_seq.nextval, #{member_id}, #{tender_price}, sysdate, #{auction_no}
    )  
	</insert>
	
	 	
	<!-- 현재가 뽑아내기 -->
	 <select id="selectCurrentPrice" resultType="Integer" parameterType="Integer">
	  select max(tender_price) from tender where auction_no=#{auction_no}
	</select>
	
	<!-- 입찰내역 뽑아내기 -->
	<select id="AllTender" resultType="TenderVO" parameterType="Integer">
	  select * from tender where auction_no=#{auction_no} order by tender_price desc
	</select>
	
	
	<!-- 낙찰 -->
	<insert id="insertSuccess" parameterType="Integer">
	  insert into success(success_no, tender_no, pay_state)
	   values(success_seq.nextval, #{tender_no}, null)
	</insert>
	
	<!-- 유찰 확정 -->
	<update id="updateAuctionResult" parameterType="Integer">
	  update auction set auction_result='유찰' where auction_no=#{auction_no}
	</update>
	
	<!-- 낙찰테이블 데이터 뽑아내기 -->
	<select id="selectSuccess" resultType="SuccessVO">
	  select * from success
	</select>
	
	<!-- 낙찰상품 장바구니로 -->
	<select id="selectSuccessPay" resultType="SuccessPayVO" parameterType="TenderVO">
	  select success_no, auction_group, auction_name, auction_unit, t.tender_price, t.auction_no, t.member_id
		from tender t, success s, auction a
		where t.tender_no = #{tender_no} and a.auction_no= #{auction_no} and s.tender_no = #{tender_no}
	</select>
	
	<!-- 한사람의 입찰 내역 뽑아내기 -->
	<select id="selectTender" parameterType="Integer" resultType="TenderVO">
	  select * from tender where tender_no = #{tender_no}
	</select>
	
	<!-- 결제 정보 삽입 -->
	<insert id="insertPayInfo" parameterType="PayVO">
	  insert into tender_pay(pay_no, success_no, recipient, phone_no, tel_no, ship_area,
	   ship_msg, pay_sort, card_sort, period, account, deposit_name, price, pay_date)
	    values(pay_seq.nextval, #{success_no}, #{recipient}, #{phone_no}, #{tel_no}, #{ship_area},
	     #{ship_msg}, #{pay_sort}, #{card_sort}, #{period}, #{account}, #{deposit_name}, #{price}, sysdate)
	</insert>
	
	<!-- 결제 정보 뽑아오기 -->
	<select id="selectPayInfo" resultType="PayVO">
	  select * from tender_pay
	</select>
	
	<!-- 낙찰테이블 경매 결과 업데이트 -->
	<update id="updateSuccess" parameterType="PayVO">
	  update success set pay_state=#{pay_no} where success_no=#{success_no}
	</update>
	
	<!-- 상한가 뽑아내기 -->
	<!-- <select id="selectPriceUp" resultType="int" parameterType="String">
	  select auction_up from auction where auction_no=#{auction_no}
	</select> -->
	
	<!-- 하한가 뽑아내기 -->
	<!-- <select id="selectPriceDown" resultType="int" parameterType="String">
	  select auction_down from auction where auction_no=#{auction_no}
	</select> -->
	
	<!-- 낙찰자 확정 -->
	<!-- <update id="updateTender" parameterType="int">
	  update tender set success_no=success_seq.nextval where tender_price=#{tender_price}
	</update> -->
	
	
	<!-- 판매자 뽑아내기 -->
	<!--<select id="selectSeller" resultType="String" parameterType="String">
	  select s.seller_name from seller s,auction a where s.seller_no=a.seller_no and auction_no=#{auction_no}
	</select> -->
</mapper>

