@CHARSET "UTF-8";

/* 상단 이미지 */
#top_img_box {
	height: auto;
	padding-bottom: 15px;
}

/* 경매 번호 안내 구역  */
.rt_acution_info {
	margin: 20px 0px;
}

#rt_title {
	font-size: 14px;
	margin-right: 10px;
}

#rt_no {
	font-size: 18px;
	color: #38a9a5;
}

/* 테이블 경매 품목 이름 & 가격 정보 */
#rt_acution_name {
	font-size: 15px;
	font-weight: bold;
}

#rt_acution_price01{
	font-size: 25px;
	font-weight: bold;
	color: #38a9a5;
	margin-right: 3px;
}

#rt_unit {
	font-size: 15px;
	font-weight: bold;
}

.table-bordered b {
	padding-left: 10px;
}

/* 주무내역 토글 탭 */
.accordion-toggle {
	margin-left: 60px;
}

/* @@@@ Step1 배송 고객 정보 @@@@ */

#necessary{
	color: red;
	margin: 5px;
	font-size: 10px;
}

/* 01 배송 정보 / 결제 소제목 */
.order_info01 {
	border-top: 2px solid #e2704b;
	margin: 10px 0px;
	padding-top: 20px;
}

.order_info01 strong {
	font-size: 20px;
	padding-left: 60px;
}

/* 02 받으시는분 / 주소지 체크 라디오 버튼*/
.recipient_customer01 {
	height: 40px;
	margin: 20px 0px 10px 0px;
	padding-top: 10px;
}

.recipient_name {
	padding-right: 48px;
	padding-left: 60px;
}

.rd_label01 {
	padding-left: 50px;
}

.rd_label02 {
	padding-left: 40px;
}

/* 03 휴대폰 정보*/
.recipient_customer02 {
	height: 45px;
	margin: 10px 0px;
	padding-top: 10px;
}

.recipient_monile {
	padding-right: 78px;
	padding-left: 60px;
}

.recipient_phone {
	padding: 0px 35px;
}

/* 04 주소지 정보*/
.recipient_customer03 {
	height: 205px;
	margin: 10px 0px;
	padding-top: 10px;
}

.recipient_addr {
	padding-right: 78px;
	padding-left: 60px;
}

.recipientpost {
	margin-right: 20px;
}

.post_addr {
	height: 40px;
}

.sub_addr {
	margin-left: 200px;
	height: 40px;
}

.caption_info {
	height: auto;
}

.caption_info p {
	vertical-align: bottom;
	font-size: 10px;
	position: relative;
	left: 200px;
	margin: 0px;
}

.delivery_msg01 {
	float: left;
}

.msg_box {
	padding-right: 51px;
	padding-left: 75px;
}

.comment {
	width: 750px;
	height: 75px;
	resize: none;
	margin-left: 2px;
}

/* @@@@ Step2 결제 구역 @@@@ */
/* 01 경제 방법 리스트 */
select {
	width: 70px;
}

.pays {
	display: inline-block;
	list-style: none;
}

.pays li {
	float: left;
	padding-right: 20px;
}

.pays li span {
	padding-left: 10px;
}

.pays li img {
	padding-left: 10px;
}

/* @@@@ Step2 결제 방법 사용 @@@@ */
.creditcard_info03 p {
	font-size: 10px;
	padding-left: 30px;
}

#month {
	width: 200px;
}

#creditcards {
	width: 200px;
	margin-bottom: 10px;
}

.creditcard_info01 strong {
	padding: 10px 30px 20px 30px;
}

.creditcard_info02 strong {
	padding: 10px 30px 20px 30px;
}

.pay_info {
	height: 90px;
	padding-top: 10px;
	margin-top: 10px;
	float: left;
}

.img-thumbnail {
	width: 98px;
	height: 98px;
}

.pay_list {
	height: 150px;
	width: 850px;
	padding: 10px;
	margin-bottom: 30px;
	margin-left: 150px;
	position: relative;
	left: 31px;
	float: left;
}

.kakaopay_info01 p {
	padding-left: 30px;
	font-size: 15px;
}

.naverpay_info01 p {
	padding-left: 30px;
	font-size: 15px;
}

.payment_info01 {
	margin-bottom: 8px;
}

#bankaccount {
	width: 250px;
}

.payment_info01 strong {
	padding: 10px 30px 20px 30px;
}

.payment_info02 strong {
	padding: 10px 64px 20px 30px;
}

.payment_info02 p {
	padding-left: 30px;
	font-size: 10px;
	color: #e2704b;
}

#price_info {
	float: right;
}

.buttons {
	clear: both;
}

#submitPay {
	padding: 13px 26px;
	font-size: 13px;
	width: 180px;
	height: 44px;
	color: #ffffff;
	background: #ef8829;
	border: none;
}

#rt_acution_price02{
	font-size: 20px;
	font-weight: bold;
	color: #38a9a5;
	margin-right: 3px;
}
#rt_acution_price03{
	font-size: 20px;
	font-weight: bold;
	color: #38a9a5;
	margin-right: 3px;
}