<meta charset="UTF-8">
<title>실시간 경매</title>
<link rel="stylesheet" href="/rt_auction">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
$(document).ready(function(){
////////////////////////////////////////////////////////////////
/* 입찰 버튼 이벤트  */
	// cart open
	$('#auction_btn').click(function() {
		$("#rt_tender").focus();
		if (!$(this).data('ch')) {
			$(this).data('ch', 1).addClass('on');
			$('.auction_menu').animate({
				bottom : '0'
			}, 200);
		} else {
			$(this).data('ch', 0).removeClass('on');
			if ($(this).isCilck == true) {
				$('.auction_menu').delay(1500).animate({
					bottom : '-80px'
				}, 200);
			} else {
				$('.auction_menu').animate({
					bottom : '-80px'
				}, 200);
			}
			isCilck = false;
		}
	});
	
/* 새로 고침 막기 */



$(document).keydown(function (e) {
    // F5, ctrl + F5, ctrl + r 새로고침 막기
    var allowPageList   = new Array('/a.php', '/b.php');
    var bBlockF5Key     = true;
    for (number in allowPageList) {
        var regExp = new RegExp('^' + allowPageList[number] + '.*', 'i');
        if (regExp.test(document.location.pathname)) {
            bBlockF5Key = false;
            break;
        }
    }
     
    if (bBlockF5Key) {
        if (e.which === 116) {
            if (typeof event == "object") {
                event.keyCode = 0;
            }
            return false;
        } else if (e.which === 82 && e.ctrlKey) {
            return false;
        }
    }
});

//////////////////////////////////////////////////////////////////
/* Node.Js 소켓 통신 할 구분 */

	var socket = io.connect(); //소켓 연결
	
	
	socket.on('text',function(data){
		//입장알림
		var income = "<strong id=income>&nbsp;"+data.nickname+" 님 입장하셨습니다.</strong><br>";
		$("#chat_area").append(income);
		
		if($('#area').prop('scrollHeight') > $('#area').height()){
			 $('#area').scrollTop($('#area').prop('scrollHeight'));
		}
		//유저 리스트 업데이트
		userUpdate(data.userList);
	});
	
	$("#chat_text").focus(); // 채팅 입력창으로 포커스 지정
	
	socket.on('info',function(data){ //get방식으로 정보를 받는다
		$("#rt_name").text(data.product_n);
		$("#tender_price").text(numberFormat(data.down));
		$("#rt_standard").text(data.unit);
		$("#rt_img").attr("src",data.img);
		$("#rt_img01").attr("src",data.img01);
		$("#rt_img02").attr("src",data.img02);
		$("#rt_content").empty();
		$("#rt_content").append(data.content);
		$("#rt_area").text(data.area);
		$("#rt_seller").text(data.seller_no);
		$("#rt_auction_no").text(data.rt_auction_no);
		
		$("#r_no").val(data.rt_auction_no); //폼 태그 값 지정`
	});
	
	socket.on('user',function(data){//세션을 받는다
		$("#id").val(data);
	});
	
	// 입장인원 체크
	socket.on('userlist',function(data){
		userUpdate(data);
	});
	
	
	//퇴장시 알림
	socket.on('exit',function(data){
		var out = "<strong id=out>&nbsp;"+data.msg+"</strong><br>";
		$("#chat_area").append(out);
		
		if($('#area').prop('scrollHeight') > $('#area').height()){
			 $('#area').scrollTop($('#area').prop('scrollHeight'));
		}
		
	});
	
	/* 엔터키 입력 & 입력버튼 클릭 */
	$("#chat_text").keypress(function(e){
		if(e.which == 13){
			socket.emit('send',{
				name : $("#id").val(),
				messeage : $("#chat_text").val()
			});
			$("#chat_text").val("");
		}	
	});
	
	$("#chat_enter").click(function(e){
		socket.emit('send',{
			name : $("#id").val(),
			messeage : $("#chat_text").val()
		});
		$("#chat_text").val("");
		e.preventDefault();
	});
	/* */
	
	// 주고받는 메세지
	socket.on('send',function(data){
		var messeage = '&nbsp;[ '+data.nickname+' ] '+data.msg+'<br>';	
		$("#chat_area").append(messeage);
		if($('#area').prop('scrollHeight') > $('#area').height()){
			 $('#area').scrollTop($('#area').prop('scrollHeight'));
		}
	});
	
	// 접속자수 업데이트 함수
	function userUpdate(userList){
		$("#chat_list").empty();
		for(var i=0; i<userList.length; i++){
			var list = userList[i];
			$("#chat_list").append("&nbsp;"+list+'\n');
		}
	}
	
	
	
////////////////////////////////////////////////	
/* 경매 시간 구하기 */
		var now = new Date(); //현재시간 
		now = finish_auction(now);
		$("#btn_menu button").attr('disabled',true); //초기 로딩시 버튼을 잠가 놓는다.
		$("#btn_menu input").attr('readonly',true);
		
		// _ing 경매중 , end 경매 종료 person 입찰자 
		$(".rt_ing").hide(); 
		$(".rt_end").hide();
		$("#rt_auction_person").hide();
		
		$("#rt_finish_time").text("지금은 경매를 진행하기 위한 대기시간입니다.");
	 	$("#finish_time").text("자유롭게 채팅하세요.");
	 	
		socket.on('wait',function(data){ //경매 대기 상태
			$("#w_minute").text(data.w_m);
			$("#w_second").text(data.w_s);
			$(".rt_ing").hide();
			$(".rt_end").hide();
			
			if(data.w_m == 0 && data.w_s == 0){ // 대기 종료 상태 
				$("#rt_finish_time").text("자유롭게 입찰하세요.");
			 	$("#finish_time").text("입찰 버튼이 활성화 되었습니다.");
			 	
			 	$("#rt_tender").focus();
			 	$("#auction_btn").data('ch', 1).addClass('on');
				$('.auction_menu').animate({
					bottom : '0'
				}, 200);
				
				$(".rt_wait").hide();
				$(".rt_ing").show();
				$("#rt_auction_person").show();
				$(".rt_end").hide();
				$("#end_name").hide();
			}
		});
		
		socket.on('time',function(data){ //경매 진행중 상태 
			$("#minute").text(data.m);
			$("#second").text(data.s);
			$("#btn_menu button").attr('disabled',false); //경매 진행시 버튼을 활성화 시킨다.
			$("#btn_menu input").attr('readonly',false);
			
			if(data.m == 0 && data.s == 0){ //경매 종료 
				$("#rt_finish_time").text("경매 종료 시간");
				$("#finish_time").text(now);
				
				$("#auction_btn").data('ch', 0).removeClass('on');
				$('.auction_menu').animate({
					bottom : '-80px'
				}, 200);
				
				$("#chat_text").focus();
				$("#btn_menu button").attr('disabled',true); // 경매 종료시 버튼을 잠근다.
				$("#btn_menu input").attr('readonly',true);
			 	$("#r_date").val(now);
				$(".rt_wait").hide();
				$(".rt_ing").hide();
				$(".rt_end").show();
				$("#end_name").show();
			}
		});
		
		socket.on('end',function(data){
			alert(data.msg);
			
			socket.emit('finish',{
				no : $("#r_no").val(),
				id : $("#r_id").val(),
				price : $("#r_price").val(),
				date : $("#r_date").val()
			});
			
		});
		
		socket.on('finish',function(data){
			
			var check = confirm("해당 경매에 낙찰 되셨습니다.\n" + 
					"경매 번호 : " + data.no + "\n"+
					"낙찰자 : " + data.id + "\n"+
					"낙찰 금액 : " + data.price + "\n"+
					"낙찰 시간 : " + data.date + "\n" +
					"바로 결제를 원하시면 확인을 눌러주시고 \n"+ 
					"아닐경우에는 취소를 눌러 메인으로 이동하세요."
					);
			if(check){
				$.ajax({
					type : 'POST',
					url : 'http://localhost:8081/rt_auction/result_rt_auction',
					data : {
						no : data.no,
						id : data.id,
						price : data.price,
						date : data.date
					},
					dataType : 'text',
					success: function(){
					}
				});
				$(location).attr("href", "http://localhost:8081/rt_auction/rt_auctionpay?rt_acution_no="+data.no);
			}else{
				$(location).attr("href", "http://localhost:8081/");
			}
		});
		
		
	 	//////////////// 경매 종료
		// 날짜 포멧 만들어주는 함수  YYYY-MM-DD HH:MM:SS
		function finish_auction(now){
			var now = leadingZeros(now.getFullYear(),4) + '-' +
					  leadingZeros(now.getMonth()+1,2) + '-' +
					  leadingZeros(now.getDate(),2) + ' ' +
					  leadingZeros(now.getHours(),2) + ':' +
					  leadingZeros(now.getMinutes(),2) + ':' +
					  leadingZeros(now.getSeconds(),2);
			return now;
		}
		
		//형식 고정
		function leadingZeros(n, digits) {
			var zero = "";
			n = n.toString();
			if(n.length < digits){
				for(var i=0; i < digits - n.length; i++){
					zero += 0;
				}
			}
			return zero + n;
		}
	
///////////////////////////////////////////////////////
/* 경매 입찰 (이벤트 & 소켓)*/
	
	// 1천원 클릭
	$("#1000").on('click',function(e){
		socket.emit('1000',{ // 소켓 전송
			price : parseInt($("#tender_price").text().replace(/[^0-9]/g,"")) //버튼 가격
		});
		e.preventDefault();
	});
	
	//1000 상대방이 한거 받는 소켓
	socket.on('1000',function(data){
		$("#tender_price").text(data.hap);
		$("#r_price").val(data.hap);
		
		$("#r_id").val(data.id);
		$("#tender_name").text(data.id);
		
		var price = $("#tender_price").text();
		var price_c = numberFormat(price);
		$("#tender_price").text(price_c);
	});
	
 	// 5천원 클릭 소켓 전송
	$("#5000").on('click',function(e){
		socket.emit('5000',{
			price : parseInt($("#tender_price").text().replace(/[^0-9]/g,""))
		});
		e.preventDefault();
	});
		
	//5000 상대방이 한거 받는 소켓
	socket.on('5000',function(data){
		$("#tender_price").text(data.hap);
		$("#r_price").val(data.hap);
		
		$("#r_id").val(data.id);
		$("#tender_name").text(data.id);
		
		var price = $("#tender_price").text();
		var price_c = numberFormat(price);
		$("#tender_price").text(price_c);
	});
	
		
	// 1만원 클릭 소켓 전송
	$("#10000").on('click',function(e){
		socket.emit('10000',{
			price : parseInt($("#tender_price").text().replace(/[^0-9]/g,""))
		});
		e.preventDefault();
	});
	
	// 10000원 상대방이 한거 받는 소켓
	socket.on('10000',function(data){
		$("#tender_price").text(data.hap);
		$("#r_price").val(data.hap);
		
		$("#r_id").val(data.id);
		$("#tender_name").text(data.id);
		
		var price = $("#tender_price").text();
		var price_c = numberFormat(price);
		$("#tender_price").text(price_c);
	})
	
	
	/*    직접 금액 입력해서. 입찰 소켓 전송     */
	// 입찰 버튼 클릭
	$("#tender_btn").on('click',function(){
		if(isNaN($("#rt_tender").val()) == false){
			if($("#rt_tender").val()==""){
				alert("공백 입력 불가");
				$("#rt_tender").val("");
				$("#rt_tender").focus();
			}else{
				socket.emit('rt_tender',{
					input_price : parseInt($("#rt_tender").val()),
					price : parseInt($("#tender_price").text().replace(/[^0-9]/g,""))
				});
				$("#rt_tender").val("");
			}
		}else{
			alert("숫자만 입력 가능합니다.");
			$("#rt_tender").val("");
			$("#rt_tender").focus();
		}
		e.preventDefault();
	});
	
	// 엔터키 입력
	$("#rt_tender").keypress(function(e){
		if(e.which == 13){
			if(isNaN($("#rt_tender").val()) == false){
				if($("#rt_tender").val()==""){
					alert("공백 입력 불가");
					$("#rt_tender").val("");
					$("#rt_tender").focus();
				}else{
					socket.emit('rt_tender',{
						input_price : parseInt($("#rt_tender").val()),
						price : parseInt($("#tender_price").text().replace(/[^0-9]/g,""))
					});
					$("#rt_tender").val("");
				}
			}else{
				alert("숫자만 입력 가능합니다.");
				$("#rt_tender").val("");
				$("#rt_tender").focus();
			}
		}
	});	 
	
	// 직접 금액 입력한걸 받는 소켓
	socket.on('rt_tender',function(data){
		$("#tender_price").text(data.hap);
		$("#r_price").val(data.hap);
		
		$("#r_id").val(data.id);
		$("#tender_name").text(data.id);
		
		var price = $("#tender_price").text();
		var price_c = numberFormat(price);
		$("#tender_price").text(price_c);
	});
 
	// 정규화 함수 3 자리수 마다 , 표시
	function numberFormat(x) {
		return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}
	
	
	// 입찰중인 사람이 나가기 버튼을 눌렀을때 팅겨내기
	$("#tender_exit").on('click',function(e){
		e.preventDefault();
		var name = $("#tender_name").text();
		var id = $("#id").val();
		if( name == id ){
			alert("현재 입찰 중이셔서 퇴장하실 수 없습니다.");
		}else{
			history.go(-1);
		}
	});
	
	
///////////////////////////////////////////////////////
/* 이미지 슬라이드 */	
	var time = 500;
    var idx = idx2 = 0;
    var slide_width = $("#slider").width(); //리스트 전체 길이를 구한다 450
    var slide_count = $("#slider li").size(); // 갯수를 구한다 3
    $("#slider li:first").css("display", "block"); //블럭박스로 만든다
    if(slide_count > 1)
        $(".btn").css("display", "inline");
 
    $("#prev_btn").click(function() {
        if(slide_count > 1) {
            idx2 = (idx - 1) % slide_count;
            if(idx2 < 0)
                idx2 = slide_count - 1;
            $("#slider li:hidden").css("left", "-"+slide_width+"px");
            $("#slider li:eq("+idx+")").animate({ left: "+="+slide_width+"px" }, time, function() {
                $(this).css("display", "none").css("left", "-"+slide_width+"px");
            });
            $("#slider li:eq("+idx2+")").css("display", "block").animate({ left: "+="+slide_width+"px" }, time);
            idx = idx2;
        }
    });
 
    $("#next_btn").click(function() {
        if(slide_count > 1) {
            idx2 = (idx + 1) % slide_count;
            $("#slider li:hidden").css("left", slide_width+"px");
            $("#slider li:eq("+idx+")").animate({ left: "-="+slide_width+"px" }, time, function() {
                $(this).css("display", "none").css("left", slide_width+"px");
            });
            $("#slider li:eq("+idx2+")").css("display", "block").animate({ left: "-="+slide_width+"px" }, time);
            idx = idx2;
        }
    });
	
});
</script>
</head>
<body oncontextmenu="return false"> <!-- 마우스 오른쪽 새로고침 방지 -->
<!-- <audio controls>
	<source src="/mp3.01" type="audio/mp3">트와이스 시그널 
	<source src="/mp3.02" type="audio/mp3">싸이 뉴페이스 
</audio>
 -->
<form id="rt_acution_finish" method="POST" style="display: none;">
	<input type="text" id="r_no" value="">
	<input type="text" id="r_id" value="">
	<input type="text" id="r_price" value="">
	<input type="text" id="r_date" value="">
</form>
<section class="auction_body" id="auction_body">
		<div class="auction_info" id="auction_info">
		<div class= "slider_background">
			<div class="no_info">
				<strong id="rt_auction_no_box">경매 번호</strong>
				<strong id="rt_auction_no"></strong>
			</div>
			<ul id="slider">
				<li><img id="rt_img" alt="rt_img" src=""></li>
				<li><img id="rt_img01" alt="rt_img01" src=""></li>
				<li><img id="rt_img02" alt="rt_img02" src=""></li>
			</ul>
			<button type="button" id="prev_btn" class="btn"></button>
			<button type="button" id="next_btn" class="btn"></button>
		</div>
			
			<div class="auction_content" id="auction_centent">
				<strong id="name">상 품 명</strong><strong id="rt_name"></strong>
				<strong id="product_area">생 산 지</strong><strong id="rt_area"></strong><br>
				<strong id="standard">규 격</strong><strong id="rt_standard"></strong>
				<strong id="seller">판 매 자</strong><strong id="rt_seller"></strong><br>
				<strong id="content">상 품 설 명</strong>
				<div class="rt_content" id="rt_content">
				
				</div>
			</div>
		</div>
			<div class="auction_time_price" id="auction_time_price">
				<div id="time">
					<div class="rt_wait">
						<strong id="w_time">경매 대기 시간</strong>
						<strong id="w_minute"></strong><em>분</em>
						<strong id="w_second"></strong><em>초</em>
					</div>
					<div class="rt_ing">
						<strong id="rt_time">경매 진행 중</strong>
						<strong id="minute"></strong><em>분</em>
						<strong id="second"></strong><em>초</em>
					</div>
					<div class="rt_end">
						<strong id="end">경매가 종료 되었습니다.</strong>
					</div>
				</div>
				<div id="rt_auction_finish_time">
					<strong id=rt_finish_time></strong><br>
					<strong id="finish_time"></strong>
				</div>
				<div id="rt_auction_person">
					<strong id="end_name">최종 낙찰자&nbsp;</strong><strong id="tender_name">입찰자</strong><em>님</em>
					<strong id="tender_price">입찰금액</strong><em>원</em>
				</div>
			</div>
				<div class="chat_body" id="chat_body">
					<div id="area" class="area" style="overflow: auto;">
						<div id="chat_area" class="chat_area"></div>
					</div>
						<textarea id="chat_list" name="chat_list" rows="18" cols="11" readonly="readonly"></textarea><br>
				</div>
				<div class="chat_input" id="chat_input">
					<input type="text" id="id" name="id" value="" readonly="readonly">
					<input type="text" id="chat_text" name="chat_text" >
					<button id="chat_enter" name="chat_enter">입력</button>
				</div>
		<div class="auction_menu" id="auction_menu" style="bottom: -80px">
					<button id="auction_btn" name="auction_btn">입&nbsp;&nbsp;&nbsp;&nbsp;찰</button>
				<div id="auction_box" id="auction_box">
					<div id="btn_menu" class="btn_menu">
						<button id="1000" value="1000">1,000</button>
						<button id="5000" value="5000">5,000</button>
						<button id="10000" value="10000">10,000</button>
						<input type="text" id=rt_tender>
						<button id="tender_btn">입찰</button>
						<a id="tender_exit">나가기</a>
					</div>
				</div>
		</div>
	</section>
</body>
</html>
